body {
    font-family: 'Segoe UI'; 
    width:100%;
}

.pct100 {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.flex-col {
    display: flex;
    flex-flow: column;
}

.flex-col-fill {
    flex: auto;
    overflow-y: auto;
}

.nav-pills > .active {
    border-bottom: 2px solid orangered;
}

.nav-pills > .active > a {
    background-color: transparent !important;
    color: black !important;
}

.panel-heading-toggle:before {
    content: '\2212';
    font-family: 'Glyphicons Halflings';
    vertical-align: text-bottom;
    padding-right: 10px;
}

.panel-heading-toggle.collapsed:before {
    padding-right: 10px;
    content: '\2b';
}

.panel-heading-toggle:link, .panel-heading-toggle:hover, .panel-heading-toggle:active, .panel-heading-toggle:visited  {
    text-decoration: none;
}

.form-control {
    font-size: 18px;
}

.buffer-line {
    font-family: monospace; 
    white-space: pre; 
    padding: 0px; 
    line-height: 0px;
}

.buffer-row {
    cursor: pointer;
}

.buffer-row-selected {
    background-color: teal;
    color: white;
}

.width100 {
    width: 100%;
}

.snippet-modal {
    width:100%; 
    max-width: 1250px;
}

.snippet-text-input {
    width: 100%; 
    height: 100%; 
    font-family: monospace;
}

.underline {
    border-bottom: 1px solid black;
}

@media(max-width: 991px){
    .snippet-view {
        padding-top: 10px;
        overflow: auto;
    }

    .snippet-view-code {
        background-color: lightgray;
        padding: 10px 5px 10px 5px; 
    }

}


@media(min-width: 992px){
    .snippet-view {
        height: 70vh; 
        overflow: auto;
    }

    .snippet-view-code {
        background-color: lightgray;
        padding: 10px 5px 10px 5px; 
    }
}
